<% content_for :sidebar do %>
  <img class="image_right image_sidebar" src="<%= asset_path "piece_7.jpg" %>"></img>
  <img class="image_right image_sidebar" src="<%= asset_path "piece_10.jpg" %>"></img>
<% end %>

<% content_for :sub_nav do %>
  <p><a href="/ceremonie.html">Cérémonie du café<a/></p>
  <p><a href="/aperitifs.html">Apéritifs et digestifs</a></p>
<% end %>

<h2>Apéritifs et digestifs</h2>
<img class="image_right" src="<%= asset_path "tegi.jpg" %>"></img>
<div class="plats_list">
  <h2>Tegi</h2>
  <p>Apéritif à base de miel doux</p>
  <p>2.5dl 8.—CHF</p>
  <p>Taux d’alcool : 8%</p>
</div>
<div class="clear"></div>
<hr />
<img class="image_right" src="<%= asset_path "repas_5.jpg" %>"></img>
<div class="plats_list_small">
  <h2>Digestif maison</h2>
  <p>A base d’amareto, Arekie et jus </p>
  <p>de mangue</p>
  <p>10.—CHF</p>
</div>
