<% content_for :sidebar do %>
  <img class="image_right image_sidebar" src="<%= asset_path "mon_resto.jpg" %>"></img>
  <div class="both"></div>
  <p>Article de L’illustré du 18 janvier 2006</p>
  <img class="image_right image_sidebar" src="<%= asset_path "illustre.jpg" %>"></img>
  <div class="both"></div>
  <p>Article de L’illustré du 11 juin 2008</p>
<% end %>

<h2>Revue de presse</h2>
<h2 class="center">Maryam Jamal (athlète) à l’Abyssinia</h2>
<img class="maryam" src="<%= asset_path "maryam_jamal.jpg" %>"></img>
<h2>La recette du Kifto et Misir-Wet</h2>
<img class="kifto" src="<%= asset_path "kifto.jpg" %>"></img>
<p>Article parut dans Le Régional le 31 janvier 2008</p>
<h2>Articles parus dans le 24 Heures</h2>
<img src="<%= asset_path "24h_2.jpg" %>"></img>
<div id="journaux">
  <img class="image_right" src="<%= asset_path "24h_1.jpg" %>"></img>
</div>
<div class="both"></div>
