<% content_for :sidebar do %>
  <img class="image_right image_sidebar" src="<%= asset_path "piece_11.jpg" %>"></img>
  <img class="image_right image_sidebar" src="<%= asset_path "piece_12.jpg" %>"></img>
<% end %>

<% content_for :sub_nav do %>
  <p><a href="/ceremonie.html">Cérémonie du café<a/></p>
  <p><a href="/aperitifs.html">Apéritifs et digestifs</a></p>
<% end %>

<div id="cafe">
  <h2>Cérémonie du café</h2>
  <div class="cafe">
    <img src="<%= asset_path "cafe_1.jpg" %>"></img>
  </div>
  <p>Maison éthiopienne traditionelle</p>
  <div class="cafe_2">
    <img src="<%= asset_path "cafe_2.jpg" %>"></img>
    <img src="<%= asset_path "cafe_3.jpg" %>"></img>
  </div>
  <p>Le café est transporté</p>
  <div class="cafe_2">
    <img src="<%= asset_path "cafe_4.jpg" %>"></img>
    <img src="<%= asset_path "cafe_5.jpg" %>"></img>
  </div>
  <p>Préparation de la cérémonie du café</p>
  <div class="cafe_3">
    <img src="<%= asset_path "cafe_6.jpg" %>"></img>
  </div>
  <p>Le café vert est grillé</p>
  <div class="cafe_2">
    <img src="<%= asset_path "cafe_7.jpg" %>"></img>
    <img src="<%= asset_path "cafe_8.jpg" %>"></img>
  </div>
  <p>Le café est moulu à l’aide d’un mortier et d’un pilon de bois</p>
  <div class="cafe_2">
    <img src="<%= asset_path "cafe_9.jpg" %>"></img>
    <img src="<%= asset_path "cafe_10.jpg" %>"></img>
  </div>
  <p>La femme de la maison verse le café dans les “sini”</p>
  <div class="cafe_3">
    <img src="<%= asset_path "cafe_11.jpg" %>"></img>
  </div>
  <p>La cérémonie du café</p>
  <div class="cafe">
    <img src="<%= asset_path "cafe_12.jpg" %>"></img>
  </div>
</div>
