<% content_for :sidebar do %>

<% end %>

<div class="warning">
  <p>Réservations au 021 311 49 07 ou au 078 860 74 73. Par e-mail ou formulaire de contact : info@abyssinia.ch</p>
</div>

<p>Livraison à domicile à partir de 6 personnes.</p>

<img class="image_right" src="<%= asset_path "repas.jpg" %>"></img>
<div id="horaire">
  <h2>Horaires</h2>
  <table class="warning">
    <tr>
      <th>Lundi-Dimanche</td>
      <td>11h-24h</td>
    </tr>
    <tr>
      <th>Cuisine non-stop 7/7</td>
      <td>12h-22h30</td>
    </tr>
  </table>
  <p class="important">Ouverture toute l’année, même les jours fériés.</p>
  <p>80 places sont disponibles dans notre restaurant.</p>
  <p>Nous acceptons les cartes suivante : Visa, MasterCard, Maestro, Postcard.</p>
</div>
<div class="both"></div>
<img src="<%= asset_path "batimment.jpg" %>"></img>
