<% content_for :sidebar do %>
  <p class="important center">Café restaurant Abyssinia</p>
  <p class="center">Rue du Valentin 14</p>
  <p class="center">1004 Lausanne</p>
  <br />
  <p class="center">Tél: 021 311 49 07</p>
  <p>Nous acceptons les cartes suivante : Visa, MasterCard, Maestro, Postcard.</p>
  <img class="image_right image_sidebar" src="<%= asset_path "piece_3.jpg" %>"></img>
  <img class="image_right image_sidebar" src="<%= asset_path "anniversaire_2.jpg" %>"></img>
  <img class="image_right image_sidebar" src="<%= asset_path "repas_4.jpg" %>"></img>
<% end %>

<h2>Informations</h2>
<p>Le restaurant Abyssinia se trouve au cœur de Lausanne à la rue du Valentin 14.</p>
<p>En <span class="important">bus</span> vous êtes à deux pas depuis l’arrêt <span class="important">Valentin</span> des lignes <span class="important">1</span> et <span class="important">2</span>, ou empruntez les Escaliers Hollard depuis l’arrêt <span class="important">Riponne</span> des lignes <span class="important">5</span>,<span class="important">6</span> et <span class="important">8</span>.</p>
<p>En voiture vous pouvez utiliser les parking couverts du Valentin ou de la Riponne.</p>
<img class="map" src="<%= asset_path "map.jpg" %>"></img>
<h2>Horaires</h2>
<table class="warning">
    <tr>
      <th>Lundi-Dimanche</td>
      <td>11h-24h</td>
    </tr>
    <tr>
      <th>Cuisine non-stop 7/7</td>
      <td>12h-22h30</td>
    </tr>
</table>
<img class="batimment_4" src="<%= asset_path "batimment_4.jpg" %>"></img>
<img class="repas_2" src="<%= asset_path "repas_2.jpg" %>"></img>
<img class="repas_3" src="<%= asset_path "repas_3.jpg" %>"></img>
<img class="piece_2" src="<%= asset_path "piece_2.jpg" %>"></img>
