<% content_for :sub_nav do %>
  <p><a href="/ceremonie.html">Cérémonie du café<a/></p>
  <p><a href="/aperitifs.html">Apéritifs et digestifs</a></p>
<% end %>

<% content_for :sidebar do %>
  <img class="image_right image_sidebar" src="<%= asset_path "piece_4.jpg" %>"></img>
  <img class="image_right image_sidebar" src="<%= asset_path "piece_5.jpg" %>"></img>
  <img class="image_right image_sidebar" src="<%= asset_path "piece_6.jpg" %>"></img>
  <img class="image_right image_sidebar" src="<%= asset_path "piece_7.jpg" %>"></img>
  <img class="image_right image_sidebar" src="<%= asset_path "piece_8.jpg" %>"></img>
  <img class="image_right image_sidebar" src="<%= asset_path "piece_9.jpg" %>"></img>
  <img class="image_right image_sidebar" src="<%= asset_path "piece_10.jpg" %>"></img>
  <img class="image_right image_sidebar" src="<%= asset_path "piece_11.jpg" %>"></img>
<% end %>

<div id="menu">
  <h2>La carte</h2>
  <h2 class="center">Entrées</h2>
  <img class="image_right" src="<%= asset_path "plats_3.jpg" %>"></img>
  <div class="plats_list_height">
    <p><span class="important">Samboussa</span> avec viande hachée (boeuf piquant)<br />4.00 CHF/pce</p>
    <p><span class="important">Samboussa vegétarien</span> avec lentilles</p>
  </div>
  <img class="image_right" src="<%= asset_path "plats_4.jpg" %>"></img>
  <div class="plats_list">
    <p><span class="important">Salade Ethiopienne</span> 8.00 CHF</p>
    <p><span class="important">Salade Ethiopienne avec Samboussa</span> 13.00 CHF</p>
  </div>
  <div class="plats_list">
    <h2 class="center">Poulet</h2>
  </div>
  <img class="image_right" src="<%= asset_path "plats_5.jpg" %>"></img>
  <div class="plats_list">
    <p><span class="important">Doro Weti</span> 23 CHF<br/>Poulet mariné dans du jus de citron, assaisonné et cuit à l’étouffée dans une sauce paprika d’oignon et divers épices</p>
    <p><span class="important">Doro Weti Alicha</span>23 CHF<br />Poulet mariné de jus de citron et grillé avec curry, cuit à l’étouffée dans une sauce aux herbes accommodée à l’aide d’oignons et de diverses épices.</p>
  </div>
  <div class="plats_list">
    <h2 class="center">Agneau</h2>
  </div>
  <img class="image_right" src="<%= asset_path "plats_6.jpg" %>"></img>
  <div class="plats_list">
    <p><span class="important">Tibs-Yebegi Special</span> 25.50 CHF<br />Emincé d’agneau sauté à la minute avec des oignons, du piment vert et poivres exotiques. Servi sur un chauffe-plat traditionnel</p>
    <p><span class="important">Yebegi Wat</span> 23 CHF<br />viande d’agneau cuite à l’étouffée dans une sauce au paprika</p>
  </div>
  <img class="image_right" src="<%= asset_path "plats_7.jpg" %>"></img>
  <div class="plats_list">
    <p><span class="important">Yebegi Alicha</span> 23 CHF<br />Tendres morceaux d’agneau revenus dans sauce au curry mélangés avec des oignons et des épices exotiques</p>
  </div>
  <div class="plats_list">
    <h2 class="center">Boeuf</h2>
  </div>
  <img class="image_right" src="<%= asset_path "plats_8.jpg" %>"></img>
  <div class="plats_list">
    <p><span class="important">Kitfo</span> 25.50 CHF<br />Steak tartare éthiopien finement haché et assaisonné avec du piment, beurre aux herbes et du poivre.</p>
    <p><span class="important">Gored gored</span> 27 CHF<br />Morceaux de boeuf cru chauffé assaisonné avec du piment, du beurre aux herbes et du poivre. 200g, disponible selon livraison.</p>
  </div>
  <img class="image_right" src="<%= asset_path "plats_9.jpg" %>"></img>
  <div class="plats_list">
    <p><span class="important">Zizil-Tibs</span> 25.50 CHF<br />Tendres lamelles de viande de boeuf cuites avec de la sauce au poivre vert</p>
  </div>
  <img class="image_right" src="<%= asset_path "plats_10.jpg" %>"></img>
  <div class="plats_list">
    <p><span class="important">Key-Wat / Zigne</span> 23 CHF<br/>Délicieuses bouchées de boeuf mijotées dans une sauce au paprika et agrémentées d’épices exotiques</p>
  </div>
  <img class="image_right" src="<%= asset_path "plats_11.jpg" %>"></img>
  <div class="plats_list">
    <p><span class="important">Minchet-Habish</span> 24 CHF<br />Viande de boeuf hachée et mélangée dans une sauce au berbère (paprika)</p>
  </div>
  <div class="plats_list">
    <p><span class="important">Minchet Alicha</span> 23.50 CHF<br />Viande de boeuf hachée et mélangée dans une sauce au curry</p>
    <p><span class="important">Bosana</span> 23 CHF<br />Morceaux de boeuf dans une sauce aux pois jaune et au paprika.</p>
  </div>
  <div class="plats_list">
    <h2 class="center">Plats végétarien et végétalien</h2>
  </div>
  <img class="image_right" src="<%= asset_path "plats_12.jpg" %>"></img>
  <div class="plats_list">
    <p><span class="important">Abyssinia Végétarien «Yozome Weti»</span> (combinaison de GOMEN, MISIR-WET, KIK etSHIRO) 23 CHF</p>
    <p><span class="important">Gomen:</span> Epinard épicés et hachés, cuits aux herbes avec des oignons et divers poivres</p>
  </div>
  <img class="image_right" src="<%= asset_path "plats_13.jpg" %>"></img>
  <div class="plats_list">
    <p><span class="important">Misir-Wet:</span> Lentilles préparées dans une sauce au paprika et accommodées à l’aide d’oignons et épices</p>
    <p><span class="important">Kik:</span> Délicate purée de pois jaunes, mixée avec de l’huile d’arachide, des oignons, du poivre vert et de l’ail</p>
  </div>
  <div class="plats_list">
    <p><span class="important">Shiro:</span> Verdure avec des pois jaunes broyés et mijotés dans une sauce au paprika assaisonnée à l’aide de savoureux épices, servie avec des légumes</span>
  </div>
  <img class="image_right" src="<%= asset_path "plats_14.jpg" %>"></img>
  <div class="plats_list">
    <p><span class="important">Shiro </span>16 CHF<br /> Verdure avec pois jaunes broyés et mijotés dans une sauce au paprika assaisonnée à l’aide de savoureuses épices, servie avec des légumes.</p>
  </div>
  <div class="plats_list">
    <h2 class="center">Poisson</h2>
  </div>
  <img class="image_right" src="<%= asset_path "plats_15.jpg" %>"></img>
  <div class="plats_list">
    <p><span class="important">Asa Tibs</span> 28 CHF<br />Filets de perche marinés dans du vin de miel et du romarin, frit avec des piments, oignons et légumes verts dans une sauce « Awaze » avec pois chiches et paprika.</p>
  </div>
  <div class="big_plats_list">
    <hr />
    <h2 class="center">Abyssinia Special</h2>
  </div>
  <img class="image_right plats_16" src="<%= asset_path "plats_16.jpg" %>"></img>
  <div class="plats_list_2">
    <p>Dès 2 personnes – 28 CHF/pers. DORO WETI, TIBS, KITFO, MINCHET HABISH Servis avec des légumes et salade</p>
    <h2 class="center">Menu Complet</h2>
    <p>Dès 2 personnes – 46 CHF/pers.</p>
    <p><span class="important">Apéritif :</span> Tegi ou Jus de gingembre et mangue</p>
    <p><span class="important">Entrée :</span> Samboussa à la viande ou végétarien</p>
  </div>
  <div class="plats_list_2">
    <p><span class="important">Menu de dégustation à volonté</span> ou <span class="important">Yezome Weti</span> plat végétarien, 8 spécialités</p>
    <p class="important">Dessert</p>
    <p class="important">thé ou café</p>
  </div>
</div>
