<% content_for :sidebar do %>
  <img class="image_right image_sidebar" src="<%= asset_path "champagne.png" %>"></img>
  <img class="image_right image_sidebar" src="<%= asset_path "anniversaire_2.jpg" %>"></img>
  <img class="image_right image_sidebar" src="<%= asset_path "piece.jpg" %>"></img>
<% end %>

<h2>Anniversaires et enterrement de vie de célibataire</h2>
<img class="canape image_right" src="<%= asset_path "canape.jpg" %>"></img>
<div id="anniversaire">
  <p>Pour vos occasion spéciales, l’Abyssinia vous propose son menu spécial à 43.- au lieu de 49.-CHF par personnes, le champagne est offert à partir de 8 personnes.</p>
  <p>Menu complet avec apéritif, entrée, plat, boisson sans alcool et café ou thé maison.</p>
  <p>Notre restaurant peut accueillir jusqu’à 80 personnes.</p>
</div>
<h2>Pour votre anniversaire, le repas vous est offert !</h2>
<p>A partir de 8 personnes, venez fêter votre anniversaire avec vos amis. Le repas vous est offert sur présentation d’une pièce d’identité. (offre valable une fois durant les 2 jours avant, le jour même et les 2 jours après votre anniversaire)</p>
<img class="anniversaire" src="<%= asset_path "anniversaire.jpg" %>"></img>
