<% content_for :sidebar do %>
  <img class="image_right image_sidebar" src="<%= asset_path "plats.jpg" %>"></img>
  <img class="image_right image_sidebar" src="<%= asset_path "cuisine_3.jpg" %>"></img>
  <img class="image_right image_sidebar" src="<%= asset_path "cuisine_4.jpg" %>"></img>
<% end %>

<h2>Service traiteur</h2>
<p><a href="/menu.html">Menu spécial</a> , livré et servi sur place : 40.- CHF par personnes. Ou selon votre budget.</p>
<p><a href="/contact.html">Contactez-nous</a> pour en savoir plus sur nos prestations.</p>
<img src="<%= asset_path "cuisine_1.jpg" %>"></img>
<img src="<%= asset_path "cuisine_2.jpg" %>"></img>
<img class="batimment_2" src="<%= asset_path "batimment_2.jpg" %>"></img>
<img class="batimment_3" src="<%= asset_path "batimment_3.jpg" %>"></img>
