<html>
  <head>
    <title>Abyssinia - Administration</title>
    <link rel="stylesheet" href="<%= stylesheet_path 'application' %>" media="screen">
    <script src="<%= javascript_path 'application' %>"></script>
  </head>
  <body>
    <div id="main" class="admin">
      <div id="content_div">
        <form action="/admin/news" method="post">
          <textarea name="news_request[news_text]" value=""></textarea>
          <input type="submit" value="Publier" class="btn btn-warning publish" />
        </form>
        <div id="email_list">
          <form action="/admin/delete" method="delete">
            <input type="submit" value="Delete" /><input name="email_request[email]" value="" />
          </form>
          <form action="/admin/emails.csv" method="get">
            <input type="submit" value="Export to CSV" />
          </form>
        </div>
        <%= @status_report %>
      </div>
    </div>
  </body>
</html>
