<!DOCTYPE HTML>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="<%= stylesheet_path 'application' %>" media="screen">
    <script src="<%= javascript_path 'application' %>"></script>
  </head>
  <body>
    <section id="main">
      <header>
        <div id="header">
          <h1>Abyssinia</h1>
        </div>
        <div id="naviguation">
          <nav>
            <ul>
              <li><a href="/">Accueil</a></li>
              <li><a href="/menu.html">Menu</a></li>
              <li><a href="/traiteur.html">Traiteur</a></li>
              <li><a href="/promotion.html">Promotion</a></li>
              <li><a href="/bonnes_critiques.html">Bonnes critiques</a></li>
              <li><a href="/informations.html">Informations</a></li>
              <li><a href="/contact.html">Contact</a></li>
            </ul>
          </nav>
          <div id="sub_nav">
            <%= content_for(item, :sub_nav) %>
          </div>
        </div>
        <div class="both"></div>
      </header>
      <section id="sidebar">
        <%= content_for(item, :sidebar) %>
      </section>
      <section id="content">
        <%= yield %>
        <div class="both"></div>
      </section>
      <footer>
        <%= content_for(item, :footer) %>
        <p>développé par Liquid Concept</p>
      </footer>
    </section>
  </body>
</html>
